

.jumbotron {
	padding-top: 0;
	background-image: url(../img/post-image.jpg);
	background-size: cover;
	color: white;}

h1.jumbotron__text {
	font-family:"Playfair Display";
	font-style: italic;	
	text-align: center;
	padding-top: 3em;
	margin-top: 0px;
	font-size: 6em;}

.navbar-inverse {
	background-color: #121619;
	border-radius: 0;
	background-image: none;
	border: none;
	padding-top: 0.5em;
	margin-bottom: 0}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    text-shadow: none;}

.navbar__logo {
	width: 4em;}

.icon {
	padding-top: 1.5em;
	width: 1em;}

.texto__icono {
	width: 1.5em;
	padding: 0.4em;
	border: 0.5px solid grey;
	border-radius: 1em;}

.texto__parrafo p{
	color: grey;
	font-family:"Roboto";
	line-height: 2em;
	font-size: 1em;
	font-weight: 100;
	padding-top: 1.5em;}

.fecha {
	font-family:"Playfair Display";
	color: grey;}

.comentar {
	margin: 5em 0 0 3em;}

.comentar__icon {
    font-size: 2em;
    background: grey;
    padding: 0.5em;
    border-radius: 1em;
    color: white;
	margin-left: 0.6em;}

.comentar__icon sup{
    font-size: 0.5em;
    font-family: "Roboto";
    font-weight: 200;
	padding-left: 0.5em;}

.naomi {
	margin-top: 5em;
	border: 0.3px solid silver;
	padding: 3em;}

.naomi__foto{
	width: 10em;
	border-radius: 5em;
	border: 0.75px solid grey;}

.naomi__texto {
	color: grey;
	font-family:"Roboto";
	line-height: 2em;
	font-size: 0.9em;
	font-weight: 100;}

.play {
	background-color: silver;
	padding: 2em 0 4em 0;}

.play__icon {
    background: grey;
    padding: 9px 13px 9px 13px;
    border-radius: 3em;
    color: white;}

 .footer {
 	text-align: center;
 	background-color: black;
 	padding: 3em;}

 .footer__logo {
 	width: 4em;}




@media only screen and (min-width:0px) and (max-width:480px){

h1.jumbotron__text {
	font-size: 3em;}

.comentar__icon {
    font-size: 1.5em;}

 .comentar__icon sup{color: grey;}

 .naomi__foto{
 	margin: 0 auto;}

.naomi__texto {
	display: none}

.fa-caret-right {float: right;}

.play span {
	display: none;}
}


















